@import "tailwindcss";

:root {
  --background: #09090b;
  --foreground: #d7d7d7;
  --base-color: #ff6900;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-base-color{
  background-color: var(--base-color);
}

.text-base-color{
  color: var(--base-color);
}